.navWrapper {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: #efe4e1;
}

.navBtnWrapper{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.navBtnWrapper{
    
}