.headerWrapper {
    width: 99%;
    height: 100px;
    background-color: #799b7e;
    display: flex;
    justify-content: center;
    flex: none;
}
.logo {
    background-color: #ffd8a9;
    width: auto;
}