.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border: 2px solid black;
    border-color: black;
    background: white;
    height: 20vh;
    width: 40%;
    max-width: 200px;
}

.box2:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* change the degrees to shift the colors, chage the percentages to shift he color distribution */
    background: linear-gradient(145deg, #ff3d00 -20%, #eeff00 100%);
    transform: translate3d(34px, 18px, 0) scale(0.91);
    filter: blur(5px);
    opacity: var(1);
    transition: opacity 0.3s;
    border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.box2::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

.image2 {
    
}

.YellowTag {
    float: left;
}