.inventoryPageWrapper {
    display: flex;
    gap: 10px;
    width: 80%;
    min-width: 350px;
    height: 100vh;
    padding-bottom: 50px;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: center;
}

.inventoryItemsNearExpiration{
    width: 85%;
}
.inventoryItems,
.inventoryItemsNearExpiration {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    position: relative;
    /* opacity: 0; */
    transition: opacity 0.8s ease;

}

.inventoryItems,
.inventoryItemsNearExpiration {
    position: relative;
    overflow: hidden;
}

.inventoryItems.animate,
.inventoryItemsNearExpiration.animate {
    animation: slideInFromLeft 0.8s ease;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}